@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 768px) {
    .prose img {
      width: 100%;
      height: auto;
    }
  }
  

  .cl-profilePage__security {
    display: none;
  }

  .cl-navbarButton__security {
    display: none;
  }
  